[user]
	name = Marc Pont

[core]
	editor = vim
	ignorecase = false

[help]
	autocorrect = 1

[fetch]
	prune = true

[push]
	autoSetupRemote = true

[init]
	defaultBranch = master

[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
    path = ~/.gitconfig-github

[includeIf "hasconfig:remote.*.url:git@bitbucket.org:*/**"]
    path = ~/.gitconfig-bitbucket
