[user]
	name = Marc Pont
	email = mpont91@gmail.com

[core]
	editor = vim
	ignorecase = false
	sshCommand = ssh -i ~/.ssh/personal-github

[help]
	autocorrect = 1

[fetch]
	prune = true

[push]
	autoSetupRemote = true

[init]
	defaultBranch = master

[includeIf "gitdir:~/projects/victoria-id/"]
    path = ~/.gitconfig-victoria-id

[includeIf "gitdir:~/projects/present-connection/"]
    path = ~/.gitconfig-present-connection