[user]
	name = Marc Pont
	email = mpont91@gmail.com

[core]
	editor = vim
	ignorecase = false

[fetch]
	prune = true

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[init]
	defaultBranch = master

[includeIf "hasconfig:remote.*.url:git@github.com:victoria-id/**"]
    path = ~/.gitconfig-victoria-id

[url "git@github.com-victoria-id:victoria-id/"]
    insteadOf = git@github.com:victoria-id/
    insteadOf = ssh://git@github.com/victoria-id/